
<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "style.css" %>
</head>

<body>

<div class="body">
  <p>This is the Upload Page</p>
  <%= link_to 'Download Data Template', 'Template_for_Campus_Data_Upload.csv' %>
  <p>

  <%= form_with(url: '/upload', method: 'post', local: true, multipart: true) do |form| %>
    <%= form.label :csv_file, 'CSV File:' %>
    <%= form.file_field :csv_file, class: 'form-control-file', id: 'csv_file' %>
    <%= form.submit 'Upload', class: 'btn btn-primary' %>
  <% end %>

</div>

</body>
</html>