<!DOCTYPE html>
<html>
<head>
	<title>Stronger Educator</title>
	<%= stylesheet_link_tag "style.css" %>
</head>

<body>

<div class="logo">
	<%# Stronger Educator Logo at the top of the page %>
	<%= image_tag ("strongered.webp") %>
</div>

<div class="header">
	<navbutton style="background-color: #bbbbff;"> <%= link_to "Main", "/" %> </navbutton>
	<navbutton style="background-color: #bbffbb;"> <%= link_to "Upload Data", "/upload" %> </navbutton>
	<navbutton style="background-color: #ffffbb;"> <%= link_to "Help", "/help" %> </navbutton>
	<navbutton style="background-color: #ffbbbb;"> <%= link_to "Sign Out", destroy_admin_session_path %> </navbutton>
</div>

<div class="body">
	<p>This is the Upload Page</p>

	<form>
		<!-- Dummy data that will be updated to contain a template field of data for the user to enter data into -->
		<label for="school_id">School ID:</label>
		<input type="text" id="school_id" name="school_ide"><br>

		<label for="df1">Data Field 1:</label>
		<input type="text" id="df1" name="df1"><br>

		<label for="df2">Data Field 2:</label>
		<input type="text" id="df2" name="df2"><br>

		<label for="df3">Data Field 3:</label>
		<input type="text" id="df3" name="df3"><br>
		
		<input type="submit" value="Submit">
	</form>
</div>

</body>
</html>
