<%= stylesheet_link_tag "style.css" %>

<div>
  <%# Stronger Educator Logo at the top of the page %>
    <%= image_tag ("strongered.webp") %>
</div>

<div class="header">
    <%# Make buttons out of the links below %>
    <%= link_to "Main", "/" %>
    <%= link_to "Upload Data", "/upload" %>
    <%= link_to "Help", "/help" %>
    <%= link_to "Sign Out", destroy_admin_session_path %>
</div>

<div class="body">
    <p>This is the Upload Page</p>


    <form>
      <!-- Dummy data that will be updated to contain a template field of data for the user to enter data into -->
        <label for="school_id">School ID:</label>
        <input type="text" id="school_id" name="school_ide"><br>
        <label for="df1">Data Field 1:</label>
        <input type="text" id="df1" name="df1"><br>
        <label for="df2">Data Field 2:</label>
        <input type="text" id="df2" name="df2"><br>
        <label for="df3">Data Field 3:</label>
        <input type="text" id="df3" name="df3"><br>
        <input type="submit" value="Submit">
    </form>

</div>
