<!DOCTYPE html>
<html>
<head>
	<title>Stronger Educator</title>
	<%= stylesheet_link_tag "style.css" %>
</head>

<body>

<div class="logo">
	<%# Stronger Educator Logo at the top of the page %>
	<%= image_tag ("strongered.webp") %>
</div>

<div class="header">
    <%# Make buttons out of the links below %>
	<navbutton style="background-color: #ffffbb;"> <%= link_to "Help", "/help" %> </navbutton>
    <navbutton style="background-color: #ffbbbb;"> <%= link_to "Sign Out", destroy_admin_session_path %> </navbutton>
</div>

<div class="body">
    <%# initialize a user object %>
    <% @user = User.new %>

    <p>Please enter your account details.</p>

	<%= form_for @user do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :email %>
        <%= f.text_field :campuses_id %>
        <%= f.text_field :districts_id %>
        <%= f.submit "Save" %>
    <% end %>

</div>

</body>
</html>