<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "style.css" %>
</head>

<body>
<div class="body">
  <%# initialize a data import object %>
  <% @data_import = DataImport.new %>

  <p>Please enter the account details.</p>

  <%= form_with(url: '/upload', method: 'post', local: true, multipart: true) do |form| %>
    <%= form.label :campus_id, 'Campus ID:' %>
    <%= form.text_field :campus_id, class: 'form-control', id: 'campus_id' %>

    <br>

    <%= form.label :district_id, 'District ID:' %>
    <%= form.text_field :district_id, class: 'form-control', id: 'district_id' %>

    <br>

    <%= form.label :image_file, 'Image File:' %>
    <%= form.file_field :image_file, class: 'form-control-file', id: 'image_file' %>
    <%= form.submit 'Upload', class: 'btn btn-primary' %>
  <% end %>

</div>

</body>
</html>