<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "style.css" %>
</head>

<body>
<div class="body">
  <%# initialize a data import object %>
  <% @data_import = DataImport.new %>

  <p>Please enter the account details.</p>

  <%= form_for @data_import do |f| %>
    <%= f.label :name, "Campus ID: " %>
    <%= f.text_field :campus_id %>
    <% if @data_import.errors[:name].any? %>
      <div class="flash error">
        <   %= flash[:error] %>
      </div>
    <% end %>
    <br>

    <%= f.label :name, "District ID: " %>
    <%= f.text_field :district_id %>
    <% if @data_import.errors[:name].any? %>
      <div class="flash error">
        <%= flash[:error] %>
      </div>
    <% end %>
    <br>

    <%= f.label :image, "Image: " %>
    <%= f.file_field :image %>
    <% if @data_import.errors[:image].any? %>
      <div class="flash error">
        <   %= flash[:error] %>
      </div>
    <% end %>
    <br>

    <%= f.submit "Submit" %>
    <% end %>

</div>

</body>
</html>