<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "style.css" %>
</head>

<body>
<div class="body">
    <p> 
        Click on a row to view its information. <br>
    </p>

    <table class="tablesorter">
        <thead>
            <tr>
            <th>Campus ID</th>
            <th>District ID</th>
            <th>CSV Files</th>
            <th>Images</th>
            </tr>
        </thead>
        <tbody>
            <% @data_imports.each do |data_import| %>
                <tr data-user-id="<%= data_import.id %>">
                    <td><%= data_import.campus_id %></td>
                    <td><%= data_import.district_id %></td>
                    <td><%= data_import.csv_files %></td>
                    <td><%= data_import.images %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $(".tablesorter").tablesorter();
            $('table td:nth-child(5):contains("true")').text('Yes');
            $('table td:nth-child(5):contains("false")').text('');
        });

        $('tr[data-user-id]').click(function() {
            var user_id = $(this).data('user-id');
            window.location.href = "/users/" + user_id + "/edit";
        });

    </script>

</div>
</body>

</html>